@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4ade80;
  border-radius: 8px;
}
